.example {
  height: 300px;
  background-color: blue;
}

.footer {
  background-color: black;
  color: white;
}

.footer li{
  display: inline-block;
  text-align: center;
}

.footer ul{
  text-align: center;
}
